body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(img/Galaxy.jpg);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}


#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4rem;
    gap: 3rem;
}




.card {
    width: 300px;
    height: 300px;
    perspective: 1000px;
    margin: 10px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s;
}


.card:hover .card-inner {
    transform: rotateY(180deg);
}
.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.card-front {
    background: linear-gradient(109.6deg, rgb(14, 11, 56) 11.2%, rgb(239, 37, 37) 91.1%);
    color: #ffffff;
}

.card-back {
    background: linear-gradient(109.6deg, rgb(14, 11, 56) 11.2%, rgb(239, 37, 37) 91.1%);
    color: #ffffff;
    transform: rotateY(180deg);
}

h2 {
    margin: 0;
    font-size: 1.5em;
}

p {
    margin: 10px 0 0;
    font-size: 1em;
}


footer {
    background-color: #000000;
    color: white;
    bottom: 0;
    position: fixed;
    width: 100%;
    align-items: center;
}

footer p{
    text-align: center;
    font-size: 0.6rem;
    height: 2rem;
    margin-top: 0.5rem;
}


















































































